NODE_ENV=development
MANAGER_URL="https://manager.hubcommunity.io"
MANAGER_TOKEN_INTEGRATION=create-your-token-strapi

EVENTANDO_MANAGER_URL="https://eventando.hubcommunity.io"
EVENTANDO_MANAGER_TOKEN_INTEGRATION=talk-community-manager-to-get-your-key
PORT=

# EMAIL / SMTP
SMTP_HOST=smtp.mailgun.org
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
EMAIL_FROM=Hub Community <contato@8020digital.com.br>
EMAIL_REPLY_TO=contato@8020digital.com.br

# FRONTEND
FRONTEND_URL=http://localhost:3000
